<nav class="navbar navbar-light bg-light">
    <div class="container">
        <span class="navbar-brand mb-0 h1">Inovus Labs IEDC</span>
    </div>
</nav>

<div class="container">
    <div class="my-5 row home">
        <div class="col-lg-8 col-sm-12 certificate">
            <img src="/public/img/test.png" alt="">
        </div>
        <div class="col-lg-4 col-sm-12 details">
            <div class="text">
                <div class="text-top">
                    <h2>WEB DESIGN BOOTCAMP</h2>
                    <h5>Web Design for Absolute Beginners</h5>
                    <br>
                    <h4>Successfully completed by</h4>
                    <h1>ARJUN KRISHNA</h1>
                </div>
                <br>
                <div class="text-bottom">
                    <p>2 Weeks of Study <br> 1 Week Learning & 1 Week Assignment</p>
                    <p>Dated : 29th March 2021 <br> Credential : INO2021WDB001</p></p>
                    <br>
                    <span>Arjun Krishna's certificate is verified.
                        Inovus Labs IEDC certifies their successful completion of 'Web Design for Absolute Beginners'
                        Learning Program</span>
                </div>
            </div>
        </div>
    </div>
</div>